---
layout: main.njk
theme: dark
---

<section class="centered">
  <h2 style="text-align: center;">{{ whitePaper }}</h2>
  <h1 style="text-align: center;">{{ whitePaperTitle }}</h1>
  {% partial 'thank-you' %}
</section>
