<cookie-consent class="cookie-consent" scripts="/assets/scripts/google.js">
  {# <cookie-consent class="cookie-consent" scripts="https://www.googletagmanager.com/gtag/js?id={{site.googleGtag}}, /assets/scripts/google.js"> #}
  <div class="about">{{ translation[locale].aboutCookies | safe }}</div>

  <div class="buttons">
    <button data-action="accept" class="mdc-button mdc-button--raised">
      <span class="mdc-button__label">{{translation[locale].acceptCookies}}</span>
    </button>
    <button data-action="reject" class="mdc-button mdc-button--raised">
      <span class="mdc-button__label">{{translation[locale].rejectCookies}}</span>
    </button>
  </div>
</cookie-consent>
{# <nav>
  <img src="https://leanovate.de/wp-content/uploads/leanovate-logo.png" class="ct-image" width="184" height="105">
  <div>
    <p>Blücherstraße 22<br>10961 Berlin&nbsp;</p>
  </div>
  <ul>
    <li>
      <a href="https://www.leanovate.de/jobs/">Jobs</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/blog/">Blog</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/magazin/">Magazin</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/shop/">Shop</a>
    </li>
  </ul>
  <h3>Unterstützung</h3>
  <ul>
    <li>
      <a href="https://www.leanovate.de/softwareentwicklung/">Softwareentwicklung</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/services/organisationsentwicklung/">Organisationsentwicklung</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/referenzen/">Referenzen</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/themen/">Themen</a>
    </li>
  </ul>
  <h3>Trainings</h3>
  <ul>
    <li>
      <a href="https://www.leanovate.de/agile-academy/">Leanovate Agile Academy</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/agile-academy/agilitaet/">Agilität</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/agile-academy/kanban/">Kanban</a>
    </li>
    <li>
      <a href="https://www.leanovate.de/agile-academy/produktmanagement/">Produktmanagement</a>
    </li>
  </ul>
  <div>
    <p>Rufen Sie uns an:
      <a href="tel:03055574700">
        <span style="color: #ffffff;">030 – 555 74 70 0</span>
      </a>
    </p>
  </div>
  <ul>
    <li><a href="https://www.leanovate.de/kontakt/">Kontakt</a></li>
    <li><a href="https://www.leanovate.de/anmeldung-zum-newsletter/">Newsletter</a></li>
    <li><a href="/impressum">Impressum</a></li>
    <li><a href="/agb">Allgemeine Geschäftsbedingungen</a></li>
    <li><a href="/widerruf">Widerrufsbelehrung</a></li>
    <li><a href="/datenschutz">Datenschutz</a></li>
  </ul>
</nav> #}
<div class="centered-text">Made with 	💙	in Berlin. © leanovate 2022</div>