
     <style>
    mwc-textfield {
      min-width: 240px;
    }
    .shaped-filled {
      --mdc-text-field-filled-border-radius: 32px 32px 0 0;
    }
    .shaped-outlined {
      --mdc-notched-outline-leading-width: 28px;
      --mdc-notched-outline-leading-border-radius: 28px 0 0 28px;
      --mdc-notched-outline-trailing-border-radius: 0 28px 28px 0;
    }
  </style>
<button class="foo-button mdc-button">Button</button>
cccc
<mwc-textfield class="textfield" outlinedlabel="Standard">sdfdf</mwc-textfield>
<mwc-textfield outlined label="Standard"></mwc-textfield>
dddd


<div class="card-panel">
    <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
  </div>
  
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 blue-text text-darken-2">
        <input id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="company" type="text" class="validate">
        <label for="company">Unternehmen</label>
      </div>
    </div> 
    <div class="row">
      <div class="col s12">
        Button here
      </div>
    </div>
  </form>
</div>

xxxx
