<div class="form-box">
  <form class="form-wrapper"
    action="https://leanovate.daus.pt:41700/api/whitepaper-request/"
    method="post">
    {# <form action="http://localhost:3000/api/whitepaper-request" method="POST"> #}
    {# TODO: put api key here #}
    <input name="apiKey" type="text" value="1234" hidden/>
    <input name="locale" type="text" value="{{ locale }}" hidden/>    
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="formName">Name</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="text" class="mdc-text-field__input" aria-labelledby="formName">
    </label>
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="formEmail">Email</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="email" class="mdc-text-field__input" aria-labelledby="formEmail">
    </label>
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="formCompany">Company</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="text" class="input-company mdc-text-field__input" aria-labelledby="formCompany">
    </label>
  </form>
</div>