<div class="form-box">
  <h2 id="whitepaper-download" class="whitepaper__blue-headline">{{ formHeadline }}</h2>
  <form class="form-wrapper" action="https://leanovate.daus.pt:41700/api/whitepaper-request/" method="post">
    <input name="apiKey" type="text" value="1234" hidden/>
    <input name="locale" type="text" value="{{ locale }}" hidden/>
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="name">{{formName}}</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input name="name" type="text" class="mdc-text-field__input" aria-labelledby="name" required>
    </label>
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="email">{{formEmail}}</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input name="email" type="email" class="mdc-text-field__input" aria-labelledby="email" required>
    </label>
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="company">{{formCompany}}</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input name="company" type="text" class="mdc-text-field__input" aria-labelledby="company">
    </label>
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="position">{{formPosition}}</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input name="position" type="text" class="mdc-text-field__input" aria-labelledby="position">
    </label>
    {# Checkbox: Privacy Policy #}
    <div class="form-box__button">
      <button class="mdc-button mdc-button--raised">
        <span class="mdc-button__label">{{formSubmit}}</span>
      </button>
    </div>
  </form>
</div>