---
layout: main.njk
theme: dark
---

<div class="pdt">  

  <section class="centered" id="what-we-do">
    {% partial '01-start' %}
    {% partial '03-what-we-do' %}
    {% partial '04-team' %}
    {% partial '05-tech-dna' %}
    {% partial '06-costs' %}
    {% partial '07-focus-area' %}
    {% partial '08-tech' %}
    {% partial '09-holistic' %}
  </section>

</div>