---
layout: main.njk
theme: dark
---

  <section class="pdt centered" id="what-we-do">
    {% partial '01-start' %}
    <img src='/images/full-stack-agilist.jpg' class='main-image'>
    {% partial '03-what-we-do' %}
    {% partial '04-team' %}
    <img src='/images/nice-code.jpg' class='main-image'>
    {% partial '05-tech-dna' %}
    {% partial '07-focus-area' %}
    {% partial '06-costs' %}
    <img src='/images/reality-eats.jpg' class='main-image'>
    {% partial '08-tech' %}
    {% partial '09-holistic' %}
    {% partial '10-finish' %}
  </section>
