---
layout: main.njk
theme: dark
---

<section class="centered">
  <h1 class="h3">{{ whitePaper }}</h1>
  {% partial 'teaser' %}
  <img src="{{ teaserImageSrc }}" alt="{{teaserImageAlt}}" class="main-image">
  <h3>{{ formHeadline }}</h3>
  {% include './form.njk' %}
</section>

{# {% image {src: teaserImageSrc, alt:teaserImageAlt, myClass: "main-image"} %} #}
