---
layout: main.njk
theme: dark
---

<section class="centered">
  <div class="whitepaper__headline-button">
    <h2 style="margin:0">{{ whitePaper }}</h2>
    <a href="#whitepaper-download" style="text-decoration: none">
      <button type="button" class="mdc-button mdc-button--raised">
        <span class="mdc-button__label">{{ downLoadButton }}</span>
      </button>
    </a>
  </div>
  <h1>{{ whitePaperTitle }}</h1>
  {% partial 'teaser' %}
  <img src="{{ teaserImageSrc }}" alt="{{ teaserImageAlt }}" class="main-image">
  {% include './form.njk' %}
</section>

  {# {% image {src: teaserImageSrc, alt:teaserImageAlt, myClass: "main-image"} %} #}