.form-box {
  padding: 3.2rem;

  label {
    width: 100%;
    padding: 0;
    margin: 0.8rem 0;
  }

  .mdc-text-field--outlined .mdc-text-field__input {
    // background-color: $color-grey-dark-1;
    border: 0;
  }
  .mdc-floating-label {
    font-size: small;
  }
  
  .mdc-text-field__input {
    padding: 0 1.6rem;
    font-weight: $font-weight-strong;
    // scale font
    font-size: x-large;
    font-family: $font-sans-serif;
  }

  &__button {
    padding: 0.8rem 0;
    text-align: end;
  }
}