.form-wrapper {
  padding: 1.6rem;
  font-weight: $font-weight-strong;

  input[type=text],
  input[type=email] {
    background-color: $color-white;
    padding: 0 1.6rem;
    font-weight: $font-weight-strong;
    font-size: x-large;
  }



  label {
    width: 100%;
    padding: 0;
    margin: 0.8rem 0;

    @include respond(small) {
      width: 100%;
    }

    @include respond(middle) {
      width: 100%;
    }

    @include respond(wide) {
      width: 80%;
    }
  }
}

.mdc-floating-label {
  color: green;
  font-size:medium;
}