// has to come after _variables.scss
$color-red: red;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;

$color-white: #fff;
$color-black: #000;

$color-leanovate-blue: #1e73be;
$color-leanovate-blue-light: #8ed1fc;

@use "@material/theme" with (
  $primary: $color-leanovate-blue, // $color-leanovate-blue
  $secondary: $color-leanovate-blue-light,
  $background: $color-black,
  $surface: blue,
  $error: #b00020,
  $on-primary: #fff,
  $on-secondary: #fff,
  $on-surface: $color-black, // text in input field
  $on-error: #fff,
);

// text field
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

// button
@use "@material/button/styles";

// checkbox
@use "@material/checkbox";
@use "@material/form-field";

// textfield
@include textfield.core-styles;

// checkbox
@include checkbox.core-styles;
@include form-field.core-styles;

