.pdt {
  @import url(//fonts.google.com/download?family=Neuton);
  @import url(//fonts.google.com/download?family=Special%20Elite);

  h2 {
    font-size: 52px;
    line-height: 52px;
    font-family: 'Neuton', serif;
    margin-top: 6rem;

    em {
      font-family: 'Neuton', serif;
      white-space: nowrap;
      font-size: 56px;
    }
  }

  p {
    width: 100%;
    font-size: larger;
    padding-left: 20%;
  }

  img {
    margin: 1.6rem 0;
    max-width: $text-block-width;
  }

}