.pdt {
  @import url(//fonts.google.com/download?family=Neuton);
  @import url(//fonts.google.com/download?family=Special%20Elite);

  h1 {
    font-family: 'Neuton', serif;
  }

  h2 {
    font-size: 52px;
    line-height: 52px;
    font-family: 'Neuton', serif;
    margin-top: 6rem;

    em {
      font-family: 'Neuton', serif;
      white-space: nowrap;
      font-size: 56px;
    }
  }

  p {
    width: 100%;
    font-size: 2.4rem;
    padding-left: 20%;
  }

  img {
    margin: 1.6rem 0;
    max-width: $text-block-width;
  }

  @include respond(small) {
    p {
      font-size: $font-size-middle;
    }
    h2 {
      font-size: $font-size-title-small;
      line-height: $font-size-title-small;
      margin-top: 3rem;
      em {
        font-size: $font-size-title-small;
      }
    }
  }
}