.whitepaper {

  &__headline-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__blue-headline {
    color: $color-leanovate-blue;
    margin-top: 0;
  }
}