<div class="menu-list">
    <img src="/assets/logos/leanovate.jpg" class="logo" alt="leanovate">

  <ul class="top-menu">
    <li>
      {{ links[locale].portfolio.title }}
      <ul class="sub-menu">
        <li>
          <a href="{{ links[locale].software.path }}">{{ links[locale].software.title }}</a>
        </li>
      </ul>
    </li>
    <li>Themen</li>
    <li>Team</li>
    <li>Acardemy</li>
    <li>Blog</li>
    <li>Magazin</li>
    <li>Jobs</li>
    {# <li>
      <img height="30" width="30" src="/assets/flags/{{locale}}.svg" alt="language switch">
      <ul class="sub-menu last">
        {% include "lang-switch.njk" %}
      </ul>
    </li> #}
  </ul>
</div>