{# get the whole template #}
{% macro get(collections, tags, partial, locale = "de") %}
  {% for item in collections[tags] %}
    {% if item.data.partial == partial and item.data.locale == locale%}
      {{ item.templateContent | safe }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{# get only item from the front matter #}
{% macro getValueForKey(collections, tags, partial, locale = "de", key = "") %}
  {% for item in collections[tags] %}
    {% if item.data.partial == partial and item.data.locale == locale%}
      {{ item.data[key] | safe | trim }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{#
https://www.11ty.dev/docs/collections/

collections is an array of object
{ inputPath: './test1.md',
  fileSlug: 'test1',
  outputPath: './_site/test1/index.html',
  url: '/test1/',
  date: new Date(),
  data: { title: 'Test Title', tags: ['tag1', 'tag2'], date: 'Last Modified' },
  templateContent: '<h1>This is my title</h1>\n\n<p>This is content…'
}
{{collections[tags][1].inputPath}}
#}